:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  --main-bg-color: #f6f1ea;
  --color-border: #e8e8e8;
  --color-focus: #8e44ad;
  --color-btn: #2c3e50;
  --color-btn-hover: #34495e;
  --color-disabled: #ccc;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {

}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}





h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", serif;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 45px;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;

  min-height: 100vh;
}

.main {
  background-color: var(--main-bg-color);
}

.title {
  font-size: 20px;
  margin-bottom: 35px;
}

.text {
  font-size: 18px;
  margin-bottom: 20px;
}